@import '../../constants/constants.scss';
.header {
    display: flex;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    flex-direction: row;
    @include respond-to("medium") {
        & {
            box-shadow: 0px 1px 0px RGB(0 0 0/35%);
        }
        >.mobile {
            display: none;
        }
        >.desktop {
            display: block;
        }
    }
    @include respond-to("small") {
        & {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-columns: minmax(254px, auto);
            align-items: center;
            justify-content: center;
            box-shadow: 0px 1px 0px RGB(0 0 0 / 35%);
        }
    }
}

.mobile-search {
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 0px RGB(0 0 0/35%);
    padding-bottom: 1rem;
    input.searchBox {
        display: block;
    }
}

@include respond-to("medium") {
    .mobile-search {
        display: none;
    }
}