@import '../../constants/constants.scss';
.filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    >ul {
        list-style: none;
        padding-inline-start: 0;
        >li.filter-item {
            cursor: pointer;
            font-size: 9px;
            line-height: 20px;
            @include respond-to("small") {
                & {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
            &:hover {
                color: #FF6000;
            }
        }
    }
}