@import '../../../constants/constants.scss';
.subheader {
    height: 54px;
    margin-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
    &-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &-title {
        font-weight: bold;
        font-size: 18px;
        @include respond-to("medium") {
            & {
                font-size: 28px;
            }
        }
    }
    &-results {
        text-align: left;
    }
    &-searchresults {
        font-size: 15px;
        >h4 {
            color: #B0B0B0;
            margin: 0;
            font-weight: 400;
            >span {
                color: #484848
            }
        }
    }
    @include respond-to("small") {
        & {
            margin-inline: 60px;
        }
    }
    @include respond-to("medium") {
        & {
            margin-inline: 80px;
        }
    }
}