body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #B0B0B0;
    font-size: 17px;
}