@import '../../../constants/constants.scss';
.logo {
    display: flex;
    >a>img {
        width: 75%;
        float: left;
    }
    @include respond-to("small") {
        &>a>img {
            width: 100%;
            float: none;
        }
    }
    @include respond-to("medium") {
        margin-inline-start: 60px;
    }
}